html, body {
    background-color: #fff;
    text-align: center;
    font-family: 'Roboto', Helvetica, sans-serif;
    min-width: 320px;
	}

h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }
	
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
	
#form-main{
	background-color: #a9d7d1;
    margin: 0 auto;
    border-radius: 5px;
    width: 90%;
    max-width: 960px;
    padding: 10px;
	}
